@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&display=swap");

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

section .color {
  position: absolute;
  filter: blur(150px);
  height: 20vh;
  width: 100vw;
}

.box {
  position: relative;
}

.container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(2500, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded + fieldset {
  border-radius: 20px;
}
